@media (max-width: 1400px) {
  .container { width: 90%; }
}

.container {
  width: 1400px;
  margin: 0 auto;
  padding: 40px 40px;
  display: flex;
}

body {
  cursor: none;
  font-family: "Martian Mono", monospace;
  font-weight: 200;
}

h1 {
  font-weight: 300;
  font-size: 20px;
}

h2 {
  padding-top: 20px;
  font-weight: 300;
  font-size: 15px;   
}

marquee{
    font-size: 10px;
    font-weight: 400;
    background-color: rgb(255, 83, 20);
    line-height: 20px;
    color: white;
}

marquee a{
    color: white;
    text-decoration: none;
}

p {
  font-size: 11px;
}

.sidebar {
  flex: 0 0 300px;
  width: 300px;
  height: 100vh;
  padding-right: 40px;
}

#perlin-container {
  flex: 1;
  padding-top: 30px;
}

canvas {
  display: block;
}

.main-content {
    flex: 1;
    padding-left: 100px;
    padding-top: 20px;
}

.main-content p {
    width: 80%;
    line-height: 15px;
}

.spellcheck {
  border-bottom: 2px dotted red;
  padding-bottom: 2px;
}

#list{
    line-height: 30px;
    top: 0;
}

#list a{
    text-decoration: none;
    color: black;
}

#list a:hover{
    color:#FF69B4;
    font-weight: 400;
}

.media-gallery {
    padding-top: 30px;
    display: flex;
    width: 80%;
    height: 400px;
    overflow: hidden;
}

.media-item {
    flex: 1; /* start evenly (slivers) */
    transition: flex 0.5s ease;
    overflow: hidden;
    position: relative;
}

.media-item img,
.media-item video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    transition: transform 0.5s ease;
}

/* hover effect: expand hovered item, shrink others */
.media-item:hover {
    flex: 5;
    z-index: 1;
}

.media-gallery:hover .media-item:not(:hover) {
    flex: 0.7; /* shrinks others */
}

/* zoom effect on the media itself */
.media-item:hover img,
.media-item:hover video {
    /* transform: scale(1.05); */
    object-fit: contain; 
    background: #000;
}

.custom_cursor {
  position: fixed;
  width: 12px;
  height: 12px;
  background-color: #000;
  opacity: 0;
  pointer-events: none;
  mix-blend-mode: difference;
  transform: translate(-50%, -50%);
  z-index: 1000;
}

.vector-point {
  position: absolute;
  pointer-events: none;
  opacity: 1;
  transition: opacity 1s linear;
  z-index: 999;
}
